body
{
    background-color: black;
    color: lightgray;
    margin: 0;
    padding: 0;
}

#browser-container
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#browser-container .Browser
{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-size: 100% 100%;
}
