body
{
    background-color: black;
    color: lightgray;
    margin: 0;
    padding: 0;
}

#browser-container
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#browser-container .Browser
{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-size: 100% 100%;
}

.dropdown-menu
{
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    background-color: white;
    display: none;
    color: black;
    border-radius: 8px;
    border-top-left-radius: 0;
    box-shadow: 0 1px 6px -3px rgba(0, 0, 0, 1);
}

.dropdown-menu-item
{
    border-radius: 3px;
    display: flex;
    user-select: none;
    cursor: pointer;
    padding: 11px;
    padding-left: 11px;
    color: gray;
}

.dropdown-menu-item:hover
{
    background-color: rgb(24, 140, 248);
    color: white;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3);
}

.dropdown-menu-header
{
    margin-bottom: 11px;
    font-size: 110%;
}

.Browser
{
    user-select: none;
}

.Browser > .BrowserWindow .AddressBar input
{
    font-size: 75%;
    font-family: sans-serif;
}

.Browser > .BrowserWindow .MessageBar
{
    font-size: 75%;
    font-family: sans-serif;
}

.Browser > .BrowserWindow .TitleBar
{
    font-size: 75%;
    font-family: sans-serif;
    font-weight: bold;
}
