@font-face
{
    font-family: "Ubuntu (server-side)";
    src: url("./font/ubuntu/Ubuntu-R.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: "Ubuntu (server-side)";
    src: url("./font/ubuntu/Ubuntu-B.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

body
{
    background-color: rgb(0, 128, 128);
    color: lightgray;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#taskbar
{
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 32px;
    border-top: 1px solid white;
    background-color: rgba(192, 192, 192);
    box-shadow: 0 -1px 0 #dedede;
    box-sizing: border-box;
    font-size: 95%;
}

#taskbar #start-button
{
    position: absolute;
    left: 0;
    height: 24px;
    color: black;
    font-weight: bold;
    border-bottom: 1px solid #7d7d7d;
    border-right: 1px solid #7d7d7d;
    border-left: 1px solid white;
    border-top: 1px solid white;
    box-shadow: 1px 1px 0 black;
    box-sizing: border-box;
    margin: 3px;
    padding-right: 4px;
    padding-left: 4px;
    line-height: 22px;
}

#taskbar #clock-container
{
    width: auto;
    height: 25px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid #7d7d7d;
    border-top: 1px solid #7d7d7d;
    position: absolute;
    right: 0;
    margin: 3px;
    box-sizing: border-box;
    line-height: 22px;
    padding-right: 12px;
    padding-left: 5px;
    color: black;
    display: flex;
}

#taskbar #clock-container .time-display
{
    text-align: right;
}

#taskbar #clock-container .icon-row
{
    margin-right: 12px;
}

#browser-container
{
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#browser-container .WaybackBrowser
{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-size: 100% 100%;
}

.dropdown-menu
{
    z-index: 15;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    background-color: white;
    display: none;
    color: black;
    border-radius: 8px;
    border-top-left-radius: 0;
    box-shadow: 0 1px 6px -3px rgba(0, 0, 0, 1);
}

.dropdown-menu-item
{
    border-radius: 3px;
    display: flex;
    user-select: none;
    cursor: pointer;
    padding: 11px;
    padding-left: 11px;
    color: dimgray;
}

.dropdown-menu-item:hover
{
    background-color: rgb(24, 140, 248);
    color: white;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3);
}

.dropdown-menu-header
{
    margin-bottom: 11px;
}

.WaybackBrowser
{
    user-select: none;
}

.WaybackBrowser > .BrowserWindow .Buttons > .Button
{
    background-color: transparent;
    cursor: pointer;
    position: absolute;
}

.WaybackBrowser > .BrowserWindow.waiting-for-network-reply .Buttons > .Button
{
    cursor: wait;
}

.WaybackBrowser > .BrowserWindow .AddressBar input
{
    font-size: 75%;
    font-family: "Ubuntu", "Ubuntu (server-side)", sans-serif;
}

.WaybackBrowser > .BrowserWindow.waiting-for-network-reply .AddressBar input
{
    cursor: progress;
}

.WaybackBrowser > .BrowserWindow .MessageBar
{
    font-size: 75%;
    font-family: "Ubuntu", "Ubuntu (server-side)", sans-serif;
}

.WaybackBrowser > .BrowserWindow .TitleBar
{
    font-size: 75%;
    font-family: "Ubuntu", "Ubuntu (server-side)", sans-serif;
    font-weight: bold;
    user-select: none;
}

.WaybackBrowser > .BrowserWindow .TitleBar:active
{
    cursor: grabbing;
}
