@font-face
{
    font-family: "Ubuntu (server-side)";
    src: url("./font/ubuntu/Ubuntu-R.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: "Ubuntu (server-side)";
    src: url("./font/ubuntu/Ubuntu-B.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

:root
{
    --taskbar-height: 32px;
    --z-index--browser-view: 1;
    --z-index--taskbar: 2;
}

body
{
    background-color: rgb(0, 128, 128);
    color: lightgray;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.Desktop
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.BrowserView
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: calc(100% - var(--taskbar-height));
    width: 0; /* Align flex-wrap to left.*/
    position: relative;
    z-index: var(--z-index--browser-view);
}

.BrowserView .Icon
{
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4px;
    width: 90px;
    height: 90px;
}

.BrowserView .Icon:focus
{
    background-color: #00007f;
    outline: 1px dotted black;
    box-shadow: 0 0 0px 1px whitesmoke;
}

.BrowserView .Icon .graphic
{
    width: 40px;
    height: 40px;
}

.BrowserView .Icon .graphic img
{
    width: 100%;
    height: 100%;
}

.BrowserView .Icon .title
{
    color: white;
    text-align: center;
    font-size: 90%;
    margin-top: 4px;
}

.Taskbar
{
    user-select: none;
    z-index: var(--z-index--taskbar);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--taskbar-height);
    border-top: 1px solid white;
    background-color: rgba(192, 192, 192);
    box-shadow: 0 -1px 0 #dfdfdf;
    box-sizing: border-box;
    font-size: 95%;
}

.Taskbar .right-side-container
{
    width: auto;
    height: 25px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid #7d7d7d;
    border-top: 1px solid #7d7d7d;
    position: absolute;
    right: 0;
    margin: 3px;
    box-sizing: border-box;
    line-height: 22px;
    padding-right: 12px;
    padding-left: 5px;
    color: black;
    display: flex;
}

.Taskbar .right-side-container .time-display
{
    text-align: right;
}

.Taskbar .right-side-container .icon-row
{
    margin-right: 12px;
    color: #0853c3;
}

#desktop-container
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.WaybackBrowser
{
    position: absolute;
    z-index: var(--z-index--browser);
    top: 0;
    left: 0;
    background-size: 100% 100%;
}

.WaybackBrowser
{
    user-select: none;
}

.WaybackBrowser > .BrowserWindow .Buttons > .Button
{
    background-color: transparent;
    cursor: pointer;
    position: absolute;
}

.WaybackBrowser > .BrowserWindow.waiting-for-network-reply .Buttons > .Button
{
    cursor: wait;
}

.WaybackBrowser > .BrowserWindow .AddressBar input
{
    font-size: 75%;
    font-family: "Ubuntu", "Ubuntu (server-side)", sans-serif;
}

.WaybackBrowser > .BrowserWindow.waiting-for-network-reply .AddressBar input
{
    cursor: progress;
}

.WaybackBrowser > .BrowserWindow .MessageBar
{
    font-size: 75%;
    font-family: "Ubuntu", "Ubuntu (server-side)", sans-serif;
}

.WaybackBrowser > .BrowserWindow .TitleBar
{
    font-size: 75%;
    font-family: "Ubuntu", "Ubuntu (server-side)", sans-serif;
    font-weight: bold;
    user-select: none;
}

.WaybackBrowser > .BrowserWindow .TitleBar:active
{
    cursor: grabbing;
}
